# ----------------
# Node.js
# ----------------
node_modules/
package-lock.json

# ----------------
# Logs
# ----------------
logs/
*.log
*.out
*.err

# ----------------
# Environment files
# ----------------
.env


# ----------------
# Build / dist
# ----------------
dist/
build/
*.tgz
coverage/

# ----------------
# Docker
# ----------------
docker-compose.override.yml



# ----------------
# Infrastructure (optional)
# ----------------
# Ignore generated Terraform state
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

